In [76]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

['combats.csv', 'pokemon.csv', 'tests.csv']

In [92]:
data = pd.read_csv('../input/pokemon.csv')

User Defined Function

In [93]:
def tuble_ex():
    t=(1,2,3)
    return t
a,b,c =tuble_ex()
print(a,b,c)

1 2 3

# Scope

In [94]:
x=2
def f():
    x=3
    return x
print(x)  # global scope
print(f()) # local scope

2
3

In [95]:
x = 5
def f():
    y = 2*x
    return y
print(f())

10

In [96]:
import builtins
dir(builtins)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EnvironmentError',
 'Exception',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__pybind11_internals_v1__',
 '__spec__',
 'abs',
 'all',
 'any',
 'ascii',
 'bin',
 'bool',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

# Nested Function

In [97]:
def square():
    def add():
        x=2
        y=3
        z=x+y
        return z
    return add()**2
print(square())

25

## DEFAULT and FLEXIBLE ARGUMENTS

In [98]:
def f(a,b=1, c=2):
    y= a+b+c
    return y
print(f(5))
print(f(5,4,3))

8
12

In [99]:
def f(*args):
    for i in args:
        print(i)
f(1)
print("")
f(1,2,3,4)

def f(**kwargs):
    for key,value in kwargs.items():
        print(key," ",value)
f(country = 'spain',capital='madrid',pupulation=123456)

1

1
2
3
4
country   spain
capital   madrid
pupulation   123456

## anonymous function

In [100]:
number_list = [1,2,3]
y= map(lambda x:x**2, number_list)
print(list(y))

[1, 4, 9]

## ITERATORS

In [101]:
name = 'ronaldo'
it = iter(name)
print(next(it))
print(*it)

r
o n a l d o

In [102]:
list1 = [1,2,3,4]
list2 = [5,6,7,8]
z = zip(list1,list2)
print(z)
z_list=list(z)
print(z_list)

<zip object at 0x7f2bc9d81948>
[(1, 5), (2, 6), (3, 7), (4, 8)]

In [103]:
un_zip =zip(*z_list)
un_list1,un_list2 = list(un_zip)
print(un_list1)
print(un_list2)
print(type(un_list1))
print(type(list(un_list1)))

(1, 2, 3, 4)
(5, 6, 7, 8)
<class 'tuple'>
<class 'list'>

## List comprehension

In [104]:
num1 = [1,2,3]
num2 = [i + 1 for i in num1]
print(num2)

[2, 3, 4]

In [105]:
num1 = [5,10,15]
num2 = [i**2 if i ==10 else i-5 if i<7 else i+5 for i in num1]
print(num2)

[0, 100, 20]

In [106]:
threshold = sum(data.Speed)/len(data.Speed)
print("treshold",threshold)
data['speed_level'] = ["high" if i > threshold else "low" for i in data.Speed]
data.loc[:10,["speed_level","Speed"]]

treshold 68.2775

   speed_level  Speed
0          low     45
1          low     60
2         high     80
3         high     80
4          low     65
5         high     80
6         high    100
7         high    100
8         high    100
9          low     43
10         low     58

## Cleaning Data

In [107]:
data.head()

   #           Name Type 1     ...      Generation  Legendary  speed_level
0  1      Bulbasaur  Grass     ...               1      False          low
1  2        Ivysaur  Grass     ...               1      False          low
2  3       Venusaur  Grass     ...               1      False         high
3  4  Mega Venusaur  Grass     ...               1      False         high
4  5     Charmander   Fire     ...               1      False          low

[5 rows x 13 columns]

In [108]:
data.tail()

       #            Name   Type 1     ...      Generation  Legendary  speed_level
795  796         Diancie     Rock     ...               6       True          low
796  797    Mega Diancie     Rock     ...               6       True         high
797  798  Hoopa Confined  Psychic     ...               6       True         high
798  799   Hoopa Unbound  Psychic     ...               6       True         high
799  800       Volcanion     Fire     ...               6       True         high

[5 rows x 13 columns]

In [109]:
data.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary', 'speed_level'],
      dtype='object')

In [110]:
data.shape

(800, 13)

In [111]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
#              800 non-null int64
Name           799 non-null object
Type 1         800 non-null object
Type 2         414 non-null object
HP             800 non-null int64
Attack         800 non-null int64
Defense        800 non-null int64
Sp. Atk        800 non-null int64
Sp. Def        800 non-null int64
Speed          800 non-null int64
Generation     800 non-null int64
Legendary      800 non-null bool
speed_level    800 non-null object
dtypes: bool(1), int64(8), object(4)
memory usage: 75.9+ KB

## Explotary data analysis(Eda)

In [112]:
print(data['Type 1'].value_counts(dropna = False))

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Ground       32
Dragon       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

In [113]:
data.describe()

              #          HP     ...           Speed  Generation
count  800.0000  800.000000     ...      800.000000   800.00000
mean   400.5000   69.258750     ...       68.277500     3.32375
std    231.0844   25.534669     ...       29.060474     1.66129
min      1.0000    1.000000     ...        5.000000     1.00000
25%    200.7500   50.000000     ...       45.000000     2.00000
50%    400.5000   65.000000     ...       65.000000     3.00000
75%    600.2500   80.000000     ...       90.000000     5.00000
max    800.0000  255.000000     ...      180.000000     6.00000

[8 rows x 8 columns]

In [ ]:
data.boxplot(column='Attack',by ='Legendary')
plt.show()

## Tidy data

In [ ]:
data_new = data.head()
data_new

In [ ]:
melted = pd.melt(frame = data_new,id_vars = 'Name',value_vars = ['Attack','Defense'])
melted #default olarak variable ve value değerleri gelir

In [ ]:
melted.pivot(index = 'Name',columns ='variable',values='value')

In [ ]:
data1 = data.head()
data2 = data.tail()
conc_data_row = pd.concat([data1,data2],axis = 0, ignore_index = True) #index sırasında devam eder
conc_data_row

In [ ]:
data1 = data['Attack'].head()
data2 = data['Defense'].head()
conc_data_col = pd.concat([data1,data2],axis =1 ) #axis=1 columnları birleştirir.
conc_data_col

## Data Types

In [ ]:
data.dtypes

In [ ]:
data['Type 1'] = data['Type 1'].astype('category') # object türünü category türüne dönüştürdük
data['Speed'] = data['Speed'].astype('float') # int türünü float türüne dönüştürmüş olduk

In [ ]:
data.dtypes

## Missing data

In [ ]:
data.info()

In [ ]:
data['Type 2'].value_counts(dropna = False) # hangi elemandan kaç tane olduğunu verir

In [ ]:
data1=data
data1['Type 2'].dropna(inplace = True ) #null olanları drop et pokemon listesinde at

In [ ]:
assert 1==1 # Hiç bir şey döndürmezse doğrudur

In [ ]:
asser 1==2

In [ ]:
assert data['Type 2'].notnull().all() #içeride notnoll değeri yoktur geriye bir şey döndürmez

In [ ]:
data['Type 2'].fillna('empty',inplace = True)

In [ ]:
assert data['Type 2'].notnull().all()

In [ ]:
data.head()

In [ ]:
data.Speed.dtypes

In [114]:
# assert data.Speed.dtypes ==np.int
assert data.Speed.dtypes ==np.float

AssertionError:

# 4. PANDAS FOUNDATION

In [ ]:
data1 = data.loc[:,['Attack','Defense','Speed']]
data1.plot()

In [ ]:
data1.plot(subplots = True)
plt.show()

In [ ]:
data1.plot(kind = 'scatter',x = 'Attack',y ='Defense')

In [ ]:
data1.plot(kind= 'hist',y='Defense',bins=50,range=(0,250),normed=True)

In [ ]:
fig, axes = plt.subplots(nrows =2 , ncols = 1)
data1.plot(kind ='hist',y = 'Defense',bins = 50, range =(0,250),normed = True, ax = axes[0])
data1.plot(kind = 'hist',y='Defense', bins=50 , range = (0,250),normed=True, ax =axes[1],cumulative =True)# cumulative her zaman toplayarak gider
plt.savefig('graph.png')
plt

## indexing pandas time series

parse_dates(boolean) : Transform date to ISO 8601 (yyyy-mm-dd hh:mm:ss)format

In [79]:
time_list = ["1992-03-08",'1992-04-12']
print(type(time_list[1]))
datetime_object = pd.to_datetime(time_list)
print(type(datetime_object))

<class 'str'>
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

In [85]:
import warnings

warnings.filterwarnings("ignore")
data2 = data.head()
date_list = ["1992-01-10","1992-02-10","1992-03-10","1993-03-15","1993-03-16"]
datetime_object = pd.to_datetime(date_list)
data2["date"] = datetime_object
data2= data2.set_index("date")
data2

            #           Name Type 1    ...     Speed  Generation  Legendary
date                                   ...
1992-01-10  1      Bulbasaur  Grass    ...        45           1      False
1992-02-10  2        Ivysaur  Grass    ...        60           1      False
1992-03-10  3       Venusaur  Grass    ...        80           1      False
1993-03-15  4  Mega Venusaur  Grass    ...        80           1      False
1993-03-16  5     Charmander   Fire    ...        65           1      False

[5 rows x 12 columns]

In [87]:
print(data2.loc['1993-03-16'])
print(data2.loc['1992-03-10':'1993-03-16'])

#                      5
Name          Charmander
Type 1              Fire
Type 2               NaN
HP                    39
Attack                52
Defense               43
Sp. Atk               60
Sp. Def               50
Speed                 65
Generation             1
Legendary          False
Name: 1993-03-16 00:00:00, dtype: object
            #           Name Type 1    ...     Speed  Generation  Legendary
date                                   ...
1992-03-10  3       Venusaur  Grass    ...        80           1      False
1993-03-15  4  Mega Venusaur  Grass    ...        80           1      False
1993-03-16  5     Charmander   Fire    ...        65           1      False

[3 rows x 12 columns]

## RESAMPLING PANDAS TIME SERIES

In [89]:
data2.resample('A').mean() # A = year, M = month

              #         HP    ...      Generation  Legendary
date                          ...
1992-12-31  2.0  61.666667    ...             1.0      False
1993-12-31  4.5  59.500000    ...             1.0      False

[2 rows x 9 columns]

In [90]:
data2.resample('M').mean()

              #    HP  Attack    ...      Speed  Generation  Legendary
date                             ...
1992-01-31  1.0  45.0    49.0    ...       45.0         1.0        0.0
1992-02-29  2.0  60.0    62.0    ...       60.0         1.0        0.0
1992-03-31  3.0  80.0    82.0    ...       80.0         1.0        0.0
1992-04-30  NaN   NaN     NaN    ...        NaN         NaN        NaN
1992-05-31  NaN   NaN     NaN    ...        NaN         NaN        NaN
1992-06-30  NaN   NaN     NaN    ...        NaN         NaN        NaN
1992-07-31  NaN   NaN     NaN    ...        NaN         NaN        NaN
1992-08-31  NaN   NaN     NaN    ...        NaN         NaN        NaN
1992-09-30  NaN   NaN     NaN    ...        NaN         NaN        NaN
1992-10-31  NaN   NaN     NaN    ...        NaN         NaN        NaN
1992-11-30  NaN   NaN     NaN    ...        NaN         NaN        NaN
1992-12-31  NaN   NaN     NaN    ...        NaN         NaN        NaN
1993-01-31  NaN   NaN     NaN    ...        NaN         NaN        NaN
1993-02-28  NaN   NaN     NaN    ...        NaN         NaN        NaN
1993-03-31  4.5  59.5    76.0    ...       72.5         1.0        0.0

[15 rows x 9 columns]

In [91]:
data2.resample('M').first().interpolate('linear')

                   #           Name    ...    Generation Legendary
date                                   ...
1992-01-31  1.000000      Bulbasaur    ...           1.0       0.0
1992-02-29  2.000000        Ivysaur    ...           1.0       0.0
1992-03-31  3.000000       Venusaur    ...           1.0       0.0
1992-04-30  3.083333            NaN    ...           1.0       0.0
1992-05-31  3.166667            NaN    ...           1.0       0.0
1992-06-30  3.250000            NaN    ...           1.0       0.0
1992-07-31  3.333333            NaN    ...           1.0       0.0
1992-08-31  3.416667            NaN    ...           1.0       0.0
1992-09-30  3.500000            NaN    ...           1.0       0.0
1992-10-31  3.583333            NaN    ...           1.0       0.0
1992-11-30  3.666667            NaN    ...           1.0       0.0
1992-12-31  3.750000            NaN    ...           1.0       0.0
1993-01-31  3.833333            NaN    ...           1.0       0.0
1993-02-28  3.916667            NaN    ...           1.0       0.0
1993-03-31  4.000000  Mega Venusaur    ...           1.0       0.0

[15 rows x 12 columns]